<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title></title>

</head>
<body>
<div>
    <h1>Регистрация нового пользователя</h1>
    <p> Добрый день, %user.Name%.</p>
    <p> Вас пригласили в систему.</p>
    <p> Если приглашение обращено не к Вам, то просто игнорируйте это сообщение. В ином случае пройдите по ссылке ниже для создания нового пароля.</p>
    <a href="%linkForCreatingNewPassword%"> Завершить регистрацию </a>
    <h2 style="margin: 16.5px 0"> Страница для входа</h2>
    <a href="%linkToLoginPage%"> Перейти ко входу</a>
    <p>Пожалуйста, не отвечайте на это письмо, так как оно сгенерировано автоматически.</p>
</div>
</body>
</html>