<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title></title>

</head>
<body>
<div>
    <h1>Забыли пароль?</h1>
    <p>Добрый день, %user.Name%.</p>
	<p>Был запрос на восстановление Вашего пароля!</p>
    <p>Если Вы не совершали запрос, то просто игнорируйте это сообщение и обратитесь к Вашему администратору. В ином случае пройдите по ссылке ниже для создания нового пароля.</p>    
    <a href="%linkForRecoveryPassword%">Создать новый пароль</a>
    <p>Пожалуйста, не отвечайте на это письмо, так как оно сгенерировано автоматически.</p>
</div>
</body>
</html>